.Container{
    position: relative;
    margin: 7px 0px 0px 0px;

    min-height: 30px;
    padding-bottom: 35px;
}

.Search-Logo{
    display: flex;
    justify-content: center;

}
.Search-Container{
    display: flex;
    justify-content: center;

}

.Search-Title{
    font-size: 11rem;
}

.Search-Input {
    
    width: 350px;
    max-width: 350px;
    height: 27px;
}

.Search-Input-Btn{
    height: 33px;
    margin-left: 7px;
}