

.Upload-Package-Form {
  position: relative;
  height: 100%;
  background-color: #ffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Upload-Package-Form-Container {

  padding-top: 25px;
  line-height: 37px;
  padding-left: 25px;
  padding-right: 25px;
}
.Upload-Package-Form-Container label {
  display: block;
  text-align: left;
  font-size: 17px;
}

.Btn-Container{
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.Form-Btn {
  margin: 7px 0 15px 0;
}


.Description{
  width: 100%;
  min-height: 47px;
  resize: vertical;
}

.Package-Name-Input{
 
  display: block;
  text-align: left;
  width: 100%;
  height: 21px;
  margin-bottom: 11px;
  margin-bottom: 11px;
}

.Loading{
  position: absolute;
  right: 27px;
  bottom: 55px;

}