.SearchResultBar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    line-height: 7px;
    height: 7px;
    border-bottom:1px solid #CCCCCC;
    margin: 31px 13px -5px 13px; 
    background-color: rgb(158, 209, 143);
    font-size: 15px;
    
}