.Container{
 
    position: relative;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;

}


.Discovery{
    display: flex;
    justify-content: space-between;
    min-height: 71px;
    line-height: 71px;
    border-top:1px  rgb(164, 185, 169) solid;

    background-color: rgba(44, 44, 44, 0.87);
    padding-left: 15px;
    padding-right: 15px;
    font-size: 19px;
    color: #ffff;

    margin-top: 11px;
}
.Content-Grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1rf ;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.787);
    min-height: 230px;
    border-bottom: rgb(164, 185, 169) 1px solid;
  
    padding:15px;
    margin-bottom: 0px;

}
.Text-Content{
    text-align: justify;
    
    line-height: 1.5rem;
    font-weight: 400;
    font-size: .97rem;
    padding: 0px 10px 0px 10px;
    color: #444;
    
}

.Text-Content ul{
    margin: 0;
    padding: 0px 17px 0px 21px;
}

.Text-Content-Title{
    font-size: 1.0rem;
    color: rgb(48, 49, 48);
    margin-bottom: 7px;
    font-weight: 600;
    text-align: center;
}

.Image-Container{
    display: flex;
    justify-content: center;
    background-color: #fff;

 
  
}

.Image-Content{
    margin: 17px;
}

.Footer-Text{
    display: flex;
    min-height: 37px;
    line-height: 37px;
    margin-top: 55px;
    font-size: 13px;
    justify-content:flex-end;
}