.Footer{
    background-color: rgb(59, 68, 59);
    height: 63px;
    width: 100%;
}


.Footer-Content{

    display: flex;
    justify-content: center;

 
 
}


.Footer-Content a{
    color: #ffff;
    font-size: 12px;
    padding-top: 12px;
}

.Footer-Created-By {
    color: #ffff;
    display: flex;
    justify-content: center;

}

.Footer-Created-By p{
 
    font-size: 10px;
}