.Container {
  display: relative;
  height: 100%;
  width: 100%;

  
}
.header{
  display: flex;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;

  
}
.header  a{
    color: #ffff;

}
.header-menu {
  display: flex;
  margin: 0px;
}


.header-menu li {
  list-style: none;
  margin-left: 7px;

}

.header-menu  a{
    color: #939393;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.0rem;
    padding: 7px;
    
}


.header-menu a:hover, a:active, a.active{

  color: #81B441;
}