.grid-container {
  
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 85px;
  min-height: 100vh;
}


.header{
  grid-area: header;
  position: fixed; 
  top: 0; 
  width: 100%;
  height: 40px;
  z-index: 200;


}

.main{
  grid-area: main;
 
}

.footer{
  grid-area: footer;
}