.Login-Form {
  display: flex;
  justify-content: center;
}

.Login-Form-Content {
  border: solid 1px black;
  box-shadow: 0px 0px 21px -5px;
  height: 470px;
  width: 317px;
  padding: 21px;  background-color: #ffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.Login-Form-Content p {
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 11px;
}
.Login-Form-Content label {
  padding-top: 11px;
  display: block;
  text-align: left;
  font-size: 15px;
  color: black;
}

.Login-Form-Content input {
  width: 100%;
  height: 23px;
  display: block;
  margin: 3px 0 3px 0;
  padding: 0 0 0 0;
}

.Form-Btn {
  position: relative;
  width: 100%;
  margin-top: 13px;
  height: 35px;
  
  margin-bottom: 15px;
}

.Form-Logout-Btn {
  margin-top: 27px;
}

.login-btn {
  width: 100%;
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  padding: 7px;

  color: #252525;
}

.login-ext-container {
  margin-top: 5px;
  background-color: rgba(182, 219, 187, 0.555);
  display: flex;
  justify-content: space-between;
  border: rgb(4, 160, 17) solid 1px;
  cursor: pointer;
}

.login-btn-logo {
  margin-top: 7px;
  margin-right: 7px;
}

.login-btn-logo-github {
  margin-top: 3px;
  margin-right: -7px;
}

.login-ext-container:hover {
  background-color: rgba(113, 255, 132, 0.555);
}

.register-container {
  display: flex;
  justify-content: flex-end;
  text-align: right;
cursor: pointer;
  margin-top: 7px;
}
.register {
    font-size: 12px;
    font-weight: 800;
    color: rgb(245, 118, 0);

}

.register:hover{
    color: rgb(36, 182, 0);
}

.register-back {
    margin-top: -13px;
    font-size: 12px;
    font-weight: 800;
    color: rgb(245, 118, 0);

}

.register-back:hover{
 
    color: rgb(36, 182, 0);
}

.login-or-container{
display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
}

.error{
  margin-top: 3px;
  font-size: 11px;
  color:red;

}


.Terms{
  font-size: 13px;
}

.Terms a{
  font-size: 10px;
  color: #d80f0f;
}