.Search{
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

.Search-Title{
    font-size: 11rem;
}

.Search-Input {
    width: 35%;
    max-width: 350px;
    height: 27px;
}

.Search-Input-Btn{
    height: 33px;
    margin-left: 7px;
}